extends layout

block vars
  - var title='REP Insurance Smart Contract'
  - var url='token2'

block content
  include mixins/recipes.jade

  div#tutorial-start.main-tutorial.token-tutorial.inner-header.inner-page.even
    div.container
      div.row
        div.col-md-6.tutorial.scrollme          
          div.header-title
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") Secure
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") the value
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") of your Augur REP
          

  div.main-tutorial.inner-tutorial
    div.container
      div.row.scrollme                
        +toc
        div.col-md-12

          h3
            |What is REP Secure?
          p
            strong Rep-secure
            | is a multi-signature financial contract that allows you to secure the current market price of your reputation tokens at a future date.  It uses reputation tokens as collateral to secure an insurance contract which guarantees policyholders can recieve compensation if the price of Rep on Feb 13th is lower than the price recorded at the time a policy is purchased.

          h3|Why does insuring tokens have value for the crypto-asset space?
          div
            include:md content/token2_start.md
          br

          // Controls
          div.panel-heading.row
            div.col-md-9
              p
                | Current ETH price: 
            div.col-md-3
                strong $
                strong#eth-price !{ethPrice}
            div.col-md-9
              p
                | Current Rep price: 
            div.col-md-3
                strong $
                strong#price !{repPrice}
          div.panel-control.row
            div.col-md-9
              p
                | Ammount of Rep you want to insure: 
            div.col-md-3
              div.right-width
                select.form-control#amount
                  option(value=0) 100 Rep
                  option(value=1) 500 Rep
                  option(value=2) 1000 Rep
            div.col-md-9
              p
                | Price of Rep on Feb 13th, 2017: 
            div.col-md-3
              div.right-width
                input.form-control(type="text", value="", disabled)#future-price-edit
            div.col-md-12 
              p
                input(type="range", min="2", max=repPrice, step="0.25", value=initialFuturePrice)#future-price 
            div.col-md-9
              p
                | Cost of purchasing insurance:
            div.col-md-3
              div.right-width
                input.form-control(type="text", value="", disabled)#cost
            div.col-md-9
              p
                | Potential losses if you don’t purchase a policy: 
            div.col-md-3
              div.right-width
                input.form-control(type="text", disabled)#losses
            div.col-md-9
              p
                | Potential savings if you do purchase a policy:
            div.col-md-3
              div.right-width
                input.form-control(type="text", disabled)#savings

          a(onClick="showBlock('text_1')")
            h3
              |How does the contract work?
          div.text_1#text_1
            // How does the contract work:
            include:md content/token2_text_1.md

          a(onClick="showBlock('text_2')")
            h3
              |Instructions
          div.text_2#text_2
            // Instructions
            include:md content/token2_text_2.md

          a(onClick="showBlock('text_3')")
            h3
              |How does the escrow work?
          div.text_3#text_3
            // How does the escrow work?
            include:md content/token2_text_3.md

          a(onClick="showBlock('text_4')")
            h3
              |Terms and conditions
          div.text_4#text_4
            // Terms and conditions
            include:md content/token2_text_4.md

          // Form
          form#form-insure
            div.panel-control.row
              div.col-md-9
                p
                  | Current Rep price: 
              div.col-md-3
                p.strong
                  strong $
                  strong#price !{repPrice}
              div.col-md-9
                p
                  | Ammount of Rep insured: 
              div.col-md-3
                div.right-width
                  select.form-control#amount-to-insure
                    option(value=0) 100 Rep
                    option(value=1) 500 Rep
                    option(value=2) 1000 Rep
              div.col-md-12
                p
                  | Current address holding the Rep (must be same address from which purchase price is paid):
              div.col-md-12
                div.full-width
                  input.form-control(type="text", value="", onKeypress="clearValidationAddress()")#current-address
                  label.error#error-current-address
              div.col-md-12
                p
                  | Text ID hash of transaction:
              div.col-md-12
                div.full-width
                  input.form-control(type="text", value="", onKeypress="clearValidationTxHash()")#tx-hash
                  label.error#error-tx-hash
              div.col-md-12  
                a.button(href="", onClick="validateInsureForm(event)")#insure Insure
            br
            div.modal#modal-insure
              div.modal-content
                a.close(href="", onClick="handleCloseModal(event)")
                  | x
                p
                  | Contract deployed.
          //a.button.small(href='https://github.com/AnthonyAkentiev/REP_InsuraceWebSite/edit/master/views/content/token2.md') Improve this page



